.MuiDrawer-paper {
  background-color: rgba(0, 0, 0, 0) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.24) !important;
}

.MuiInputLabel-root {
  color: rgba(255, 255, 255, 0.72) !important;
}

.MuiListItem-button:hover {
  background-color: rgba(255, 255, 255, 0.12) !important;
}

.MuiTouchRipple-child {
  background-color: rgba(255, 255, 255, 0.18) !important;
}

.MuiButton-root {
  color: #fff;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: none;
}
.MuiButton-root:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.08);
}
.MuiButton-root.Mui-disabled {
  color: rgba(255, 255, 255, 0.12);
}
@media (hover: none) {
  .MuiButton-root:hover {
    background-color: transparent;
  }
}
.MuiButton-root:hover.Mui-disabled {
  background-color: transparent;
}
.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.MuiButton-text {
  padding: 6px 8px;
}
.MuiButton-textPrimary {
  color: rgba(0, 0, 0, 0.36);
}
.MuiButton-textPrimary:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
@media (hover: none) {
  .MuiButton-textPrimary:hover {
    background-color: transparent;
  }
}
.MuiButton-textSecondary {
  color: rgba(255, 255, 255, 0.48);
}
.MuiButton-textSecondary:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
@media (hover: none) {
  .MuiButton-textSecondary:hover {
    background-color: transparent;
  }
}
.MuiButton-outlined {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 5px 16px;
}
.MuiButton-outlined.Mui-disabled {
  border: 1px solid rgba(255, 255, 255, 0.12);
}
.MuiButton-outlinedPrimary {
  color: rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.MuiButton-outlinedPrimary:hover {
  border: 1px solid rgba(0, 0, 0, 0.36);
  background-color: rgba(0, 0, 0, 0.08);
}
@media (hover: none) {
  .MuiButton-outlinedPrimary:hover {
    background-color: transparent;
  }
}
.MuiButton-outlinedSecondary {
  color: rgba(255, 255, 255, 0.48);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.MuiButton-outlinedSecondary:hover {
  border: 1px solid rgba(255, 255, 255, 0.48);
  background-color: rgba(255, 255, 255, 0.08);
}
.MuiButton-outlinedSecondary.Mui-disabled {
  border: 1px solid rgba(255, 255, 255, 0.12);
}
@media (hover: none) {
  .MuiButton-outlinedSecondary:hover {
    background-color: transparent;
  }
}
.MuiButton-contained {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  background-color: #e0e0e0;
}
.MuiButton-contained.Mui-focusVisible {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.MuiButton-contained:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.MuiButton-contained.Mui-disabled {
  color: rgba(255, 255, 255, 0.12);
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.12);
}
.MuiButton-contained:hover {
  background-color: #d5d5d5;
}
@media (hover: none) {
  .MuiButton-contained:hover {
    background-color: #e0e0e0;
  }
}
.MuiButton-contained:hover.Mui-disabled {
  background-color: rgba(255, 255, 255, 0.12);
}
.MuiButton-containedPrimary {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.36);
}
.MuiButton-containedPrimary:hover {
  background-color: rgba(0, 0, 0, 0.36);
}
@media (hover: none) {
  .MuiButton-containedPrimary:hover {
    background-color: rgba(0, 0, 0, 0.36);
  }
}
.MuiButton-containedSecondary {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(255, 255, 255, 0.48);
}
.MuiButton-containedSecondary:hover {
  background-color: rgba(178, 178, 178, 0.48);
}
@media (hover: none) {
  .MuiButton-containedSecondary:hover {
    background-color: rgba(255, 255, 255, 0.48);
  }
}
.MuiButton-colorInherit {
  color: inherit;
  border-color: currentColor;
}
.MuiButton-sizeSmall {
  padding: 4px 8px;
  font-size: 0.8125rem;
}
.MuiButton-sizeLarge {
  padding: 8px 24px;
  font-size: 0.9375rem;
}
.MuiButton-fullWidth {
  width: 100%;
}
