.MuiDrawer-paper {
  background-color: rgba(0, 0, 0, 0) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.48) !important;
}

.MuiInputLabel-root {
  color: rgba(255, 255, 255, 0.72) !important;
}

.MuiListItem-button:hover {
  background-color: rgba(255, 255, 255, 0.12) !important;
}

.MuiTouchRipple-child {
  background-color: rgba(255, 255, 255, 0.18) !important;
}
