## Resolver for Mutation.createError
#set($id = ${util.autoId()})
#set($createdDate = ${util.time.nowEpochMilliSeconds()})
#set($type = ${context.arguments.input.type})
#set($data = ${context.arguments.input.data})
{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "id": { "S": "$id" }
  },
  "attributeValues": {
    "createdDate": { "N": "$createdDate" },
    "type": { "S": "$type" },
    "data": { "S": "$data" },
  }
}

${util.toJson(${context.result})}

## Resolver for Mutation.deleteError
#set($id = ${context.arguments.input.id})
{
  "version": "2017-02-28",
  "operation": "DeleteItem",
  "key": {
    "id": { "S": "$id" }
  }
}

${util.toJson(${context.result})}