## Resolver for Mutation.createError
#set($id = ${util.autoId()})
#set($createdDate = ${util.time.nowEpochMilliSeconds()})
#set($type = ${context.arguments.input.type})
#set($data = ${context.arguments.input.data})
#set($status = "init")
{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "id": { "S": "$id" }
  },
  "attributeValues": {
    "createdDate": { "S": "$createdDate" },
    "type": { "S": "$type" },
    "data": { "S": "$data" },
    "status": { "S": "$status" }
  }
}

${util.toJson(${context.result})}

## Resolver for Mutation.deleteError
#set($id = ${util.autoId()})
#set($createdDate = ${util.time.nowEpochMilliSeconds()})
#set($type = ${context.arguments.input.type})
#set($data = ${context.arguments.input.data})
#set($status = "init")
{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "id": { "S": "$id" }
  },
  "attributeValues": {
    "createdDate": { "S": "$createdDate" },
    "type": { "S": "$type" },
    "data": { "S": "$data" },
    "status": { "S": "$status" }
  }
}

${util.toJson(${context.result})}