## Resolver for Mutation.createError
#set($id = ${util.autoId()})
#set($sequenceNumber = ${context.arguments.input.sequenceNumber})
#set($createdDate = ${util.time.nowEpochMilliSeconds()})
#set($type = ${context.arguments.input.type})
#set($data = ${context.arguments.input.data})
{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "id": { "S": "$id" },
    "sequenceNumber": { "N": $sequenceNumber }
  },
  "attributeValues": {
    "createdDate": { "N": $createdDate },
    "type": { "S": "$type" },
    "data": { "S": "$data" },
  }
}

${util.toJson(${context.result})}

## Resolver for Mutation.deleteError
#set($id = ${context.arguments.input.id})
#set($sequenceNumber = ${context.arguments.input.sequenceNumber})
{
  "version": "2017-02-28",
  "operation": "DeleteItem",
  "key": {
    "id": { "S": "$id" },
    "sequenceNumber": { "N": $sequenceNumber }
  }
}

${util.toJson(${context.result})}

## Resolver for Query.getIdSequenceNumberDatas
#set($type = ${context.arguments.input.type})
#set($limit = 12)
## #set($createdDateMargin = 86400000)
#set($createdDateMargin = 1)
#set($currentDate = ${util.time.nowEpochMilliSeconds()})
#set($createdDateLimit = $currentDate - $createdDateMargin)
{
  "version": "2017-02-28",
  "operation": "Query",
  "index": "type-sequenceNumber-index",
  "limit": $limit,
  "filter": {
    "expression": "createdDate < :createdDateLimit",
    "expressionValues": {
      ":createdDateLimit": { "N": $createdDateLimit }
    }
  },
  "query": {
    "expression": "#type = :type",
    "expressionNames": {
      "#type": "type"
    },
    "expressionValues": {
      ":type": { "S": "$type" }
    }
  },
}

{
  "idSequenceNumberDatas": ${utils.toJson(${context.result.items})}
}