## Resolver for Mutation.createRegisteredUser
{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
  	 "username" : { "S" : "${context.arguments.input.username}" }
  },

  "attributeValues" : {
      "createdDate": { "S" : "$util.time.nowEpochMilliSeconds()" },
      "jsonString": { "S" : "${context.arguments.input.jsonString}" }
  },
  "condition": {
    "expression": "attribute_not_exists(#username)",
    "expressionNames": {
      "#username": "username"
    }
  }
}

$util.toJson($context.result)

## Resolver for Query.getUsername
{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "username" : { "S" : "${context.arguments.username}" }
    }
}

{
  "username": $utils.toJson($context.result.username)
}

## Resolver for Query.getCreatedDate
{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "username" : { "S" : "${context.arguments.username}" }
    }
}

{
  "createdDate": $utils.toJson($context.result.createdDate)
}