## Resolver for Query.getUsername
{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "username" : { "S" : "${context.arguments.username}" }
    }
}

{
  "username": $utils.toJson($context.result.username)
}