## Resolver for Query.getUserName
{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "userName" : { "S" : "${context.arguments.userName}" }
    }
}

{
  "userName": $utils.toJson($context.result.userName)
}