## Resolver for Mutation.createScreen
#set($objectKey = ${context.arguments.input.objectKey})
#set($createdDate = ${util.time.nowEpochMilliSeconds()})
#set($posterId = ${context.arguments.input.posterId})
#set($type = ${context.arguments.input.type})
#set($userCount = 0)
{
  "version" : "2017-02-28",
  "operation" : "POST",
  "path" : ${util.toJson("/screens/_doc/")},
  "params" : {
    "headers" : {},
    "queryString" : {},
    "body" : {
      "objectKey" : "$objectKey",
      "createdDate" : "$createdDate",
      "posterId" : "$posterId",
      "type" : "$type",
      "userCount" : "$userCount"
    }
  }
}

${utils.toJson(${context.result.get("_source")})}

## Resolver for Mutation.changePosterId
#set($posterId = ${context.arguments.input.posterId})
#set($changedPosterId = "Anonymous")
{
  "version" : "2017-02-28",
  "operation" : "POST",
  "path" : ${util.toJson("/screens/_update_by_query?conflicts=proceed")},
  "params" : {
    "headers" : {},
    "queryString" : {},
    "body" : {
      "query" : { 
        "term" : {
          "posterId" : "$posterId"
        }
      },
      "script" : {
        "inline": "ctx._source.posterId = \"$changedPosterId\""
      }
    }
  }
}

${utils.toJson(${context.result})}

## Resolver for Query.getObjectKeyList
#set($objectKey = ${context.arguments.input.objectKey})
{
  "version" : "2017-02-28",
  "operation" : "GET",
  "path" : ${util.toJson("/screens/_search")},
  "params" : {
    "headers" : {},
    "queryString" : {},
    "body" : {
      "from" : 0,
      "size" : 1,
      "query" : {
        "term" : {
          "objectKey" : "$objectKey"
        }
      },
      "_source" : ["objectKey"]
    }
  }
}

[
  #foreach($entry in ${context.result.hits.hits})
  #if($velocityCount > 1), #end
  ${utils.toJson(${entry.get("_source")})}
  #end
]