## Resolver for Mutation.createScreen
#set($objectKey=${context.arguments.input.objectKey})
{
    "version": "2018-05-29",
    "statements": [
        "insert into contents.screens values ('$objectKey', '$util.time.nowEpochMilliSeconds()', '$context.arguments.input.posterId', '$context.arguments.input.type', '0', 'init')",
        "select * from contents.screens where objectKey = '$objectKey'"
    ]
}

$utils.toJson($utils.rds.toJsonObject($context.result)[1][0])

## Resolver for Mutation.changePosterId
{
    "version": "2018-05-29",
    "statements": [
        $util.toJson("update contents.screens set posterId='Anonymous' where posterId='$context.arguments.input.posterId'"),
        $util.toJson("select * from contents.screens where posterId = '$context.arguments.input.posterId' limit 1")
    ]
}

$utils.toJson($utils.rds.toJsonObject($context.result)[1][0])